<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.approval.mapper.ApprovalMapper">
	
	
	<!-- 부서별 직원 리스트 -->
	<select id="findEmpByDept" parameterType="Integer" resultType="com.haruon.groupware.approval.dto.ResponseEmployee">
		select
				e.emp_no empNo
			,   e.ename
			,   c.descript descript
		from 	emp e
		inner join common_code c
				on e.location = c.common_code
		where dep_no = #{depNo}
	</select>
	
	<select id="findByFranchise" resultType="com.haruon.groupware.approval.dto.ResponseFranchise">
		select
				fra_no fraNo
			 ,	fname
		from franchise
	</select>
	
</mapper>