<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.schedule.mapper.ScheduleMapper">
	<select id="schedulesList" 
			resultType="com.haruon.groupware.schedule.entity.Schedules">
	SELECT
		 sch_no schNo
		 ,c.descript
		 ,kind
		 ,title title
		 ,content content
		 ,start_time startTime
		 ,end_time endTime
	FROM schedules s
		inner join common_code c on
		s.kind = c.common_code
	</select>
	
	<!-- schedule attendance랑 조인해서 emp 작성자 이름가져오기 -->
	<select id="scheduleOne" resultType="com.haruon.groupware.schedule.entity.Schedules" parameterType="Integer">
		SELECT
			 sch_no schNo
			 ,c.descript
			 ,kind
			 ,title title
			 ,content content
			 ,start_time startTime
			 ,end_time endTime
		FROM schedules s
			inner join common_code c on
			s.kind = c.common_code
		WHERE sch_no = #{schNo}
	</select>
	
   <insert id="addSchedule" parameterType="com.haruon.groupware.schedule.entity.Schedules"
   		useGeneratedKeys="true"
        keyProperty="schNo" keyColumn="sch_no">
    INSERT INTO schedules (
        title,
        kind,
        content,
        start_time,
        end_time
    ) 
    VALUES (
        #{title}, #{kind}, #{content}, #{startTime}, #{endTime}
    )
	</insert>
	<insert id="addScheduleAttendance" parameterType="Integer">
		insert into schedule_attendance
		(
			 sch_no
			,emp_no
		) 
			values 
		(
			 #{schNo}
			,#{empNo}
		)
	</insert>
	
<delete id="deleteSchedule" parameterType="Integer">
DELETE FROM schedules
WHERE sch_no = #{schNo}
</delete>

<delete id="deleteScheduleAttendance" parameterType="Integer">
DELETE FROM schedule_attendance
WHERE sch_no = #{schNo}
</delete>

<update id="updateSchedule" parameterType="com.haruon.groupware.schedule.entity.Schedules">
    UPDATE schedules
    SET
        title = #{title},
        kind = (SELECT common_code FROM common_code WHERE common_code = #{kind}),
        content = #{content},
        start_time = #{startTime},
        end_time = #{endTime}
    WHERE sch_no = #{schNo}
</update>
</mapper>