<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.schedule.mapper.ScheduleMapper">
	<select id="schedulesList" 
			resultType="com.haruon.groupware.schedule.entity.Schedules">
	SELECT
		 s.sch_no schNo
		 ,c.descript descript
		 ,s.kind kind
		 ,s.title title
		 ,s.content content
		 ,s.start_time startTime
		 ,s.end_time endTime
	FROM schedules s
		inner join common_code c on s.kind = c.common_code
		inner join schedule_attendance sa ON sa.sch_no = s.sch_no
		where sa.emp_no = #{empNo}
	</select>
	
	<select id="scheduleOne" resultType="com.haruon.groupware.schedule.entity.Schedules" parameterType="Integer">
	SELECT
        s.sch_no schNo,
        c.descript,
        s.kind,
        s.title title,
        s.content content,
    	s.start_time startTime,
    	s.end_time endTime,
    	e.ename ,
    	sa.emp_no empNo
    FROM schedules s
   	INNER JOIN common_code c ON s.kind = c.common_code
    left JOIN schedule_attendance sa ON s.sch_no = sa.sch_no
    left JOIN emp e ON sa.emp_no = e.emp_no	
    WHERE s.sch_no = #{schNo}
	</select>
	
   <insert id="addSchedule" parameterType="com.haruon.groupware.schedule.entity.Schedules"
   		useGeneratedKeys="true"
        keyProperty="schNo" keyColumn="sch_no">
    INSERT INTO schedules (
        title,
        kind,
        content,
        start_time,
        end_time
    ) 
    VALUES (
        #{title}, #{kind}, #{content}, #{startTime}, #{endTime}
    )
	</insert>
	
<delete id="deleteSchedule" parameterType="Integer">
DELETE FROM schedules
WHERE sch_no = #{schNo}
</delete>

<delete id="deleteScheduleAttendance" parameterType="Integer">
DELETE FROM schedule_attendance
WHERE sch_no = #{schNo}
</delete>

<update id="updateSchedule" parameterType="com.haruon.groupware.schedule.entity.Schedules">
    UPDATE schedules
	SET
    title = #{title},
    kind = #{kind},
    content = #{content},
    start_time = #{startTime},
    end_time = #{endTime}
WHERE sch_no = #{schNo}
</update>


	<insert id="addMeetingroomSchedule" parameterType="com.haruon.groupware.schedule.dto.ScheduleDto"
        useGeneratedKeys="true" keyProperty="schNo" keyColumn="sch_no">
   INSERT INTO schedules(
    kind,
    title,
    content,
    start_time,
    end_time
) VALUES (
    #{kind},
    #{title},
    #{content},
    STR_TO_DATE( 
        CONCAT(#{revDate}, ' ',
            CASE WHEN #{revTime} LIKE '%오후%' 
                THEN CAST(SUBSTR(#{revTime}, -2) AS UNSIGNED) + 12
                ELSE CAST(SUBSTR(#{revTime}, -2) AS UNSIGNED)
            END
        ),
        '%Y-%m-%d %H'
    ),
    STR_TO_DATE( 
        CONCAT(#{revDate}, ' ',
            CASE WHEN #{revTime} LIKE '%오후%' 
                THEN CAST(SUBSTR(#{revTime}, -2) AS UNSIGNED) + 12
                ELSE CAST(SUBSTR(#{revTime}, -2) AS UNSIGNED)
            END
        ),
        '%Y-%m-%d %H'
    ) + INTERVAL 1 HOUR
)

</insert>


	<insert id="addScheduleAttendance" parameterType="Integer">
		insert into schedule_attendance
		(
			 sch_no
			,emp_no
		) 
			values 
		(
			 #{schNo}
			,#{empNo}
		)
	</insert>
	
	<select id="scheduleOneByReservation" resultType="com.haruon.groupware.schedule.entity.Schedules" parameterType="Integer">
	SELECT
        s.sch_no schNo,
        c.descript,
        s.kind,
        s.title title,
        s.content content,
    	s.start_time startTime,
    	s.end_time endTime,
    	e.ename ename,
    	e.emp_no empNo
    FROM schedules s
   	INNER JOIN common_code c ON s.kind = c.common_code
    left JOIN reservation re ON s.sch_no = re.sch_no
    left JOIN emp e ON re.emp_no = e.emp_no
    WHERE s.sch_no = #{schNo}
	</select>
	
</mapper>