<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.user.mapper.EmpMapper">
	<select id="empLogin"
		resultType="com.haruon.groupware.user.entity.Emp"
		parameterType="com.haruon.groupware.user.entity.Emp">
		SELECT
			 email email
			,emp_pw empPw
			,ename ename
			,location location
			,emp_no empNo
			,dep_no depNo
		FROM emp
		WHERE email = #{email} AND emp_pw = #{empPw}
	</select>
	

	<insert id="insertEmp" parameterType="com.haruon.groupware.user.dto.EmpDto">
		INSERT INTO emp (
		ename
		,emp_pw
		,post_code
		,email
		,address
		,phone
		,dep_no
		,gender
		,birth
		)VALUES(
			#{eName},#{empPw}, #{postCode}, #{email}, #{address}, #{phone} ,#{depNo} ,#{gender} ,#{birth},#{location}
		)
	</insert>
	
	<!-- 부서별 직원 리스트 -->
	<select id="findEmpByDept" parameterType="Integer" resultType="com.haruon.groupware.approval.dto.EmployeeResponse">
		select
				e.emp_no empNo
			,   e.ename
			,   c.descript descript
		from 	emp e
		inner join common_code c
				on e.location = c.common_code
		where dep_no = #{depNo}
	</select>

</mapper>