<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.user.mapper.EmprofileMapper">
	<!-- 프로필 사진 삭제 -->
	<delete id="removeProfileFile" parameterType="String">
		delete
		from emp_file
		where emp_no = (select emp_no
						from emp
						where email = #{email})
	</delete>
	<!-- 사진 저장 -->
	<insert id="saveProfileByUser" parameterType="com.haruon.groupware.user.entity.EmpFile">
		insert into emp_file (
				emp_no
			,	original_name
			,	file_name
			,	ext
			,	kind
			,	size
		) values (
				#{empNo},
				#{originalName},
				#{fileName},
				#{ext},
				#{kind},
				#{size}
		)
	</insert>
	<!-- 사진 불러오기 -->
	<select id="findEmpFileByUser" parameterType="String" resultType="com.haruon.groupware.user.entity.EmpFile">
		select
				emp_no empNo
			,	original_name originalName
			,	file_name fileName
			,	ext
			,	kind
			,	size
		from emp_file
		where emp_no = (select emp_no
						from emp
						where email = #{email})
	</select>
</mapper>