<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.user.mapper.EmpSignMapper">
	<!-- 전자서명 파일 삭제 -->
	<delete id="removeSignByEmpNo" parameterType="Integer">
		delete
		from sign_file
		where emp_no = #{empNo}
	</delete>
	<!-- 전자서명 불러오기 -->
	<select id="findSignByEmpNo" parameterType="Integer">
		select
				emp_no empNo
			 ,	file_name fileName
			 ,	ext
		from sign_file
		where emp_no = #{empNo}
	</select>
	
	<!-- 전자서명 추가 -->
	<insert id="saveSignFile" parameterType="com.haruon.groupware.user.entity.SignFile">
		insert into sign_file (
				emp_no
			,	file_name
			,	ext
			,	size
		) values (
				#{empNo}
			,	#{fileName}
			,	#{ext}
			,	#{size}
		)
	</insert>
</mapper>