<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.user.mapper.EmpUpdateMapper">
	<!-- 유저정보 유효성검증 -->
	<select id="isAccess" parameterType="Integer">
		select emp_no empNo
		from emp
		where emp_no = #{empNo}
	</select>
	<!-- 유저정보 업데이트 -->
	<update id="updateEmpByEmpNo" parameterType="Integer">
		update emp
		<set>
			<if test="postCode != null">
				post_code = #{postCode},
			</if>
			<if test="address != null">
				address = #{address},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="extNum != null">
				ext_num = #{extNum},
			</if>
			<if test="password != null and password.length() > 1">
			    emp_pw = #{password},
			</if>
		</set>
		where emp_no = #{empNo}
	</update>
	<!-- 유저 정보 확인 -->
	<select id="findByEmpAndEmail" parameterType="com.haruon.groupware.user.entity.EmpEntity">
		select	count(*)
		  from emp
		 where emp_no = #{empNo}
		   and email = #{email}
	</select>
	<!-- 비밀번호 업데이트 -->
	<update id="updateEmpPw" parameterType="com.haruon.groupware.user.entity.EmpEntity">
		update emp
		set emp_pw = #{empPw}
		where emp_no = #{empNo}
	</update>
	<!-- 직원 정보 업데이트 -->
	<update id="updateEmpBySystem" parameterType="com.haruon.groupware.user.dto.RequestEmpUpdateInfo">
		UPDATE emp
		SET dep_no = #{depNo}
		    , location = #{location}
		    , ext_num = #{extNum}
		WHERE emp_no = #{empNo}
	</update>
	
	<!-- 직원 퇴사 -->
	<update id="updateExitDate" parameterType="com.haruon.groupware.user.dto.RequestEmpUpdateInfo">
		UPDATE emp
		SET exit_date = #{exitDate}
		WHERE emp_no = #{empNo}
	</update>
	
	<!-- EMP : 직원의 연가 수 업데이트(매년 + 사원 등록시)  -->
	<update id="updateLeaveByAnnualorJoin" parameterType="com.haruon.groupware.user.entity.EmpEntity">
		UPDATE emp
	   	   SET total_leave = #{totalLeave}, used_leave=0
	   	 WHERE emp_no = #{empNo}
	</update>
	
	<!-- EMP : 기중 부서장이 한명의 연가 수 업데이트 -->
	<update id="updateTotalLeaveByDivision" parameterType="com.haruon.groupware.user.entity.EmpEntity">
		UPDATE emp
	   	   SET total_leave = #{totalLeave}
	   	 WHERE emp_no = #{empNo}
	</update>
	
		<!-- 직원의 접속 정보 변경 -->
	<update id="updateEmpConnection" parameterType="com.haruon.groupware.user.entity.EmpEntity">
		UPDATE emp
		   SET connection_status = #{connectionStatus}
	   	 WHERE emp_no = #{empNo}  
	</update>
</mapper>