<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.question.mapper.QuestionMapper">
	
	<!-- 답변 등록 -->
	<insert id="insertAnswer" parameterType="com.haruon.groupware.question.dto.AnswerDto">
		INSERT INTO franchise_ask_answer(
			fra_ask_no
			, emp_no
			, content
		) VALUES (
			#{fraAskNo}, #{empNo}, #{content}
		)
	</insert>
	
	<!-- 답변 등록시 문의 상태 변경 (미답변 -> 답변완료) -->
	<update id="updateQuestionState" parameterType="Integer">
		UPDATE franchise_ask
		   SET reply_yn = 'Y'
		 WHERE fra_ask_no = #{no}
	</update>
	
	<!-- 문의 상세 -->
	<select id="getQuestion" parameterType="Integer" resultType="com.haruon.groupware.question.dto.QuestionDto">
		SELECT
			fa.fra_ask_no fraAskNo
			, fa.fra_no fraNo
			, f.fname fname
			, fa.title title
			, fa.content content
			, fa.reply_yn replyYn
			, fa.create_date createDate
		FROM franchise_ask fa
		JOIN franchise f ON fa.fra_no = f.fra_no
		WHERE fa.fra_ask_no = #{fraAskNo}
	</select>	
	
	<!-- 문의 상세 파일리스트 -->
	<select id="getQuestionFiles" parameterType="Integer" resultType="com.haruon.groupware.question.entity.FranchiseAskFile">
		SELECT
			fra_askf_no fraAskfNo
			, fra_ask_no fraAskNo
			, original_name originalName
			, file_name fileName
			, ext
			, kind
			, size
			, create_date createDate
		FROM franchise_ask_file
		WHERE fra_ask_no = #{fraAskNo}
	</select>
	
	<!-- 답변 조회 -->
	<select id="getAnswer" parameterType="Integer" resultType="com.haruon.groupware.question.dto.AnswerDto">
		SELECT 
			faa.emp_no empNo
			, e.ename ename
			, faa.content 
			, faa.create_date createDate
		FROM franchise_ask_answer faa
		JOIN emp e ON faa.emp_no = e.emp_no
		WHERE fra_ask_no = #{fraAskNo}
	</select>
	
	<!-- 문의 리스트 -->
	<select id="getQuestionList" resultType="com.haruon.groupware.question.dto.QuestionDto">
		SELECT
			fa.fra_ask_no fraAskNo
			, fa.fra_no fraNo
			, f.fname fname
			, fa.title title
			, fa.content content
			, fa.reply_yn replyYn
			, fa.create_date createDate
		FROM franchise_ask fa
		JOIN franchise f ON fa.fra_no = f.fra_no
		ORDER BY fraAskNo DESC;
	</select>
</mapper>