<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.course.mapper.CourseMapper">
	
	<!-- 교육 삭제 -->
	<delete id="deleteCourse" parameterType="Integer">
		DELETE FROM education
		WHERE edu_no = #{eduNo}
	</delete>
	
	<!-- 교육 삭제 시 파일삭제 -->
	<delete id="deleteCourseFiles" parameterType="Integer">
		DELETE FROM education_file
		WHERE edu_no = #{eduNo}
	</delete>
	
	<!-- 교육 수정 -->
	<update id="modifyCourse" parameterType="com.haruon.groupware.course.dto.CourseDto">
		UPDATE education e
		<set>
			<if test="empNo != null">
				e.emp_no = #{empNo}
			</if>
			<if test="place != null">
				, e.place = #{place}
			</if>
			<if test="eduDate != null">
				, e.edu_date = #{eduDate}
			</if>
			<if test="title != null">
				, e.title = #{title}
			</if>
			<if test="content != null">
				, e.content = #{content}
			</if>
			<if test="capacity != null">
				, e.capacity = #{capacity}
			</if>
		</set>
		WHERE e.edu_no = #{eduNo}
	</update>
	
	<!-- 교육 수정 시 파일 삭제 -->
	<delete id="deleteCourseFile" parameterType="Integer">
		DELETE FROM education_file
		WHERE eduf_no = #{edufNo}
	</delete>
	
	<!-- 삭제할 파일 조회 -->
	<select id="selectCourseFile" parameterType="Integer" resultType="com.haruon.groupware.course.entity.EducationFile">
		SELECT
			eduf_no edufNo
			, origin_name originName
			, file_name fileName
			, ext ext
		FROM education_file
	   WHERE eduf_no = #{edufNo}
	</select>
	
	<!-- 교육 상세 -->
	<select id="selectCourse" parameterType="Integer" resultType="com.haruon.groupware.course.dto.CourseDto">
		SELECT
			edu.edu_no eduNo
			, edu.emp_no empNo
			, e.ename ename
			, edu.title title
			, edu.content content
			, edu.place place
			, edu.edu_date eduDate
			, edu.capacity capacity
			, edu.create_date createDate
			, edu.update_date updateDate
			, edu.cancle_yn cancleYn
		FROM education edu 
			JOIN emp e ON edu.emp_no = e.emp_no
	   WHERE edu.edu_no = #{eduNo}
	</select>
	
	<!-- 교육 상세 파일 리스트 -->
	<select id="selectCourseFiles" parameterType="Integer" resultType="com.haruon.groupware.course.entity.EducationFile">
		SELECT
			eduf_no edufNo
			, origin_name originName
			, file_name fileName
			, ext ext
		FROM education_file
	   WHERE edu_no = #{eduNo}
	</select>
	
	<!-- 교육 등록 -->
	<insert id="insertCourse" parameterType="com.haruon.groupware.course.dto.CourseDto"
			useGeneratedKeys="true" keyProperty="eduNo"> 
		INSERT INTO education (
			emp_no
			, title
			, content
			, place
			, edu_date
			, capacity
		) VALUE (
			#{empNo}, #{title}, #{content}, #{place}, #{eduDate}, #{capacity}
		)
	</insert>
	
	<!-- 교육 등록 시 담당자 리스트 -->
	<select id="selectEmpList" parameterType="Integer" resultType="com.haruon.groupware.user.entity.EmpEntity">
		SELECT 
			emp_no empNo
			, ename
		FROM emp
		WHERE dep_no = #{depNo}		
	</select>
	
	<!-- 교육 등록 시 파일첨부 -->
	<insert id="insertCourseFile" parameterType="com.haruon.groupware.course.entity.EducationFile">
		INSERT INTO education_file (
			edu_no
			, origin_name 
			, file_name
			, ext
			, kind
			, size
		) VALUES (
			#{eduNo}, #{originName}, #{fileName}, #{ext}, #{kind}, #{size}
		)
	</insert>
	
	<!-- 교육 리스트 -->
	<select id="selectCourseList" resultType="com.haruon.groupware.course.entity.Education">
		SELECT
			edu_no eduNo
			, edu_date eduDate
			, place 
			, title 
			, content 
			, capacity 
		FROM education
	</select>
</mapper>