<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.chat.mapper.ChatMapper">

	<select id="empList" resultType="com.haruon.groupware.chat.dto.EmpDTO">
	 	SELECT d.dname dname
	 		 , cc.descript connectionStatus
	 		 , cl.descript location
	 		 , e.ename ename
	 		 , e.emp_no empNo
	 		 , ef.file_name fileName
	 		 , ef.ext ext
	      FROM emp e
	INNER JOIN dept d ON e.dep_no = d.dep_no
	INNER JOIN common_code cl ON cl.common_code = e.location AND cl.parent_code = (SELECT common_code FROM common_code WHERE descript = 'emp_location')
	INNER JOIN common_code cc ON cc.common_code = e.connection_status AND cc.parent_code = (SELECT common_code FROM common_code WHERE descript = 'emp_connection_status')
	LEFT outer JOIN emp_file ef ON e.emp_no = ef.emp_no
	     WHERE e.leave_date IS NULL 
	     ORDER BY 1,2,(case when cl.descript = "부서장" then 1
					   when cl.descript = "팀장" then 2
					   ELSE 3 END),4
	</select>
</mapper>