<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.franchise.mapper.StatisticsMapper">
	<!-- 가맹점 등록건수 (전체, 올해, 이번달) -->
	<select id="getFranchiseResgisterCnt" resultType="com.haruon.groupware.franchise.dto.FranchiseStatisticsDTO">
		SELECT COUNT(CASE WHEN YEAR(create_date) = YEAR(NOW()) THEN 1 ELSE NULL END) AS thisYearRegisterCnt
		     , COUNT(CASE WHEN YEAR(create_date) = YEAR(NOW()) AND MONTH(create_date) = MONTH(NOW()) THEN 1 ELSE NULL END) AS thisMonthRegisterCnt
		     , COUNT(create_date) AS totalRegisterCnt
		  FROM franchise
	</select>
	<!-- 가맹점 운영여부 통계 -->
	<select id="getFranchiseOpenYNStatus" resultType="com.haruon.groupware.franchise.dto.FranchiseStatisticsDTO">
		SELECT COUNT(case when open_yn = 'Y' then 1 ELSE NULL END) AS opendCnt
			 , COUNT(case when open_yn = 'N' then 1 ELSE NULL END) AS closedCnt
		  FROM franchise;
	</select>
	
	<!-- 월별 매출 탑 3개 가맹점 -->
	<select id="getTop3FranchiseSalesByMonth" parameterType="String" resultType="com.haruon.groupware.franchise.dto.FranchiseStatisticsDTO">
		SELECT f.fra_no fraNo, f.fname fName, s.revenue revenue
		  FROM franchise f
		 INNER JOIN sales s ON f.fra_no = s.fra_no
		 INNER JOIN approval ap ON ap.dra_no = s.dra_no
		 WHERE s.ym = #{targetMonth}  AND ap.state = 'A03'
		 ORDER BY revenue DESC
		 LIMIT 3;
	</select>
	
	<!-- 월별 매출 하위 3개 가맹점  -->
	<select id="getBottom3FranchiseSalesByMonth" parameterType="String" resultType="com.haruon.groupware.franchise.dto.FranchiseStatisticsDTO">
		SELECT f.fra_no fraNo, f.fname fName, s.revenue revenue
		  FROM franchise f
		 INNER JOIN sales s ON f.fra_no = s.fra_no
		 INNER JOIN approval ap ON ap.dra_no = s.dra_no
		 WHERE s.ym = #{targetMonth}  AND ap.state = 'A03'
		 ORDER BY revenue ASC
		 LIMIT 3;
	</select>
	
	<!-- 올해 월별 매출액 -->
	<select id="getRevenueByMonthThisYear" parameterType="com.haruon.groupware.franchise.entity.Franchise" resultType="com.haruon.groupware.franchise.dto.FranchiseStatisticsDTO">
		SELECT m.months month, COALESCE(revenueByMonth.totalRevenue, 0) revenue
		  FROM (SELECT '01' AS months UNION (SELECT '02')
			     UNION (SELECT '03') UNION (SELECT '04') UNION (SELECT '05') UNION (SELECT '06') UNION (SELECT '07')
			     UNION (SELECT '08') UNION (SELECT '09') UNION (SELECT '10') UNION (SELECT '11') UNION (SELECT '12')) m
    LEFT OUTER JOIN 
    		   (SELECT substr(s.ym, 6,2) months, sum(s.revenue) totalRevenue
				  FROM franchise f
				 INNER JOIN sales s ON f.fra_no = s.fra_no
				 INNER JOIN approval ap ON ap.dra_no = s.dra_no
				 <where> 
				 	substr(s.ym,1,4) = DATE_FORMAT(NOW(), '%Y') AND ap.state = 'A03'
				 	<if test="fraNo != null">
				 		AND f.fra_no = #{fraNo}
				 	</if>
				 </where>
			     GROUP BY s.ym) revenueByMonth
		    ON revenueByMonth.months = m.months
	  ORDER BY 1
	</select>
	
	<!-- 작년 월별 매출액 -->
	<select id="getRevenueByMonthLastYear" parameterType="com.haruon.groupware.franchise.entity.Franchise" resultType="com.haruon.groupware.franchise.dto.FranchiseStatisticsDTO">
		SELECT m.months month, COALESCE(revenueByMonth.totalRevenue, 0) revenue
	      FROM (SELECT '01' AS months UNION (SELECT '02')
			     UNION (SELECT '03') UNION (SELECT '04') UNION (SELECT '05') UNION (SELECT '06') UNION (SELECT '07')
			     UNION (SELECT '08') UNION (SELECT '09') UNION (SELECT '10') UNION (SELECT '11') UNION (SELECT '12')) m
	LEFT OUTER JOIN 
			   (SELECT substr(s.ym, 6,2) months, sum(s.revenue) totalRevenue
				  FROM franchise f
				 INNER JOIN sales s ON f.fra_no = s.fra_no
				 INNER JOIN approval ap ON ap.dra_no = s.dra_no
				 <where> 
				 	substr(s.ym,1,4) = DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 YEAR), '%Y') AND ap.state = 'A03'
 				 	<if test="fraNo != null">
				 		AND f.fra_no = #{fraNo}
				 	</if>
				 </where>
			     GROUP BY s.ym) revenueByMonth
			ON revenueByMonth.months = m.months
	  ORDER BY 1
	</select>
	
</mapper>