		<div id="inNo` + no + `" class="collapse" aria-labelledby="#outNo` + no + `" data-bs-parent="#mailbox-inbox">
                <div class="mail-content-container sentmail">
                
                <div class="d-flex justify-content-between mb-3">
                    <div class="d-flex user-info">
                        <div class="f-body">
                            <div class="meta-mail-time">
                                <div class="">
                                    <p class="user-email"><span>To,</span>` + item.enameS + `</p>
                                </div>
                                <p class="mail-content-meta-date current-recent-mail">` + item.sendDate.substr(0, 10) + `</p>
                                <p class="meta-time align-self-center">` + item.sendDate.substr(11) + `</p>
                            </div>
                        </div>
                    </div>

                    <div class="action-btns">
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-original-title="Reply">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-left reply"><polyline points="9 14 4 9 9 4"></polyline><path d="M20 20v-7a4 4 0 0 0-4-4H4"></path></svg>
                        </a>
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-original-title="Forward">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-up-right forward"><polyline points="15 14 20 9 15 4"></polyline><path d="M4 20v-7a4 4 0 0 1 4-4h12"></path></svg>
                        </a>
                    </div>
                </div>
                <p class="mail-content"> 
                ` + item.content + ` </p>
                <p> ` + item.enameR + ` </p>

                <div class="attachments">
                    <h6 class="attachments-section-title">Attachments</h6>

                    <div class="attachment file-folder">
                        <div class="media">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
                            <div class="media-body">
                                <p>
                                    ` + ((item.fileNameM != null)? item.fileNameM + "." + item.extM : '첨부파일없음') + `
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>