<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.haruon.groupware.attendance.mapper.AttendanceMapper">
	<!-- 어제, 한 사원의 근태 기록 조회 -->
	<select id="findAttendance" parameterType="com.haruon.groupware.attendance.entity.Attendance" 
			resultType="com.haruon.groupware.attendance.entity.Attendance">
		SELECT emp_no empNo
			 , start_time startTime
			 , end_time endTime
		  FROM attendance 
		 WHERE emp_no=#{empNo} AND start_time LIKE CONCAT('%', #{startTime}, '%')
	</select>	
	<!-- 어제, 한 사원의 연차 기록과 출장 기록 조회 --> 
	<select id="findDaySchByEmpAndDay" parameterType="com.haruon.groupware.attendance.entity.Attendance" 
			resultType="Map">
		 SELECT s.sch_no schNo
		      , cc.common_code schType
			  , s.start_time startTime
			  , s.end_time endTime
		   FROM schedules s
		  INNER JOIN schedule_attendance sa ON sa.sch_no = s.sch_no
		  INNER JOIN common_code cc ON s.kind = cc.common_code
		  WHERE sa.emp_no = #{empNo}
		 	AND s.start_time LIKE CONCAT('%', #{startTime},'%')
		    AND s.kind IN (SELECT common_code from common_code
							WHERE parent_code = 'G00'
							  AND (common_code = 'G02' OR common_code = 'G03' OR common_code = 'G05'))
	</select>
	
	<!-- 근태 업데이트 : 스케쥴링 -->
	<update id="updateAttendance" parameterType="com.haruon.groupware.attendance.entity.Attendance">
		UPDATE attendance 
		<trim prefix="set" suffixOverrides=",">
			<if test = "endTime != null">
				end_time = #{endTime},
			</if>
			<if test = "state != null">
				state = #{state},
			</if>
			<if test = "approvalYN != null">
				approvalYN = #{approvalYN},
			</if>
		</trim>
		<where>
			emp_no = #{empNo} AND start_time LIKE CONCAT('%', #{startTime}, '%') 
			<if test = "endTime != null">
				AND state is null 
			</if>
			<if test = "approvalYN != null">
				AND state is not null
			</if>
		</where>
	</update>

	<!-- 근태 정보 생성 (스케쥴링)-->
	<insert id="createAttendance" parameterType="com.haruon.groupware.attendance.entity.Attendance">
	    Insert into attendance(
	        emp_no, start_time
	        <if test="endTime != ''">
	            , end_time
	        </if>
	        <if test="state != ''">
	            , state
	        </if>
	    ) VALUES (
	        #{empNo}, #{startTime}
	        <if test="endTime != ''">
	            , #{endTime}
	        </if>
	        <if test="state != ''">
	            , #{state}
	        </if>
	    )
	</insert>
	
	<!-- 오늘 출/퇴근 시간 조회 -->
	<select id="findAttendanceByEmp" parameterType="int" resultType="com.haruon.groupware.attendance.entity.Attendance">
		SELECT emp_no empNo
			 , start_time startTime
		 	 , IFNULL(end_time, -1) endTime
		  FROM attendance 
		 WHERE emp_no=#{empNo}
		   AND start_time LIKE CONCAT('%',CURDATE(),'%');
	</select>
	
	<!-- 근태리스트(월별) -->
	<select id="findAttendanceListByMonth" parameterType="com.haruon.groupware.attendance.dto.RequestAttendanceList" 
											  resultType="com.haruon.groupware.attendance.dto.ResponseAttendanceList">
	    SELECT a.emp_no empNo
	    	 , d.dname dName
   	  		 , e.ename empName
 		 	 , (SELECT descript FROM common_code WHERE common_code = e.location) location
			 , a.start_time startTime
		 	 , IFNULL(a.end_time, -1) endTime
		 	 , (SELECT descript FROM common_code WHERE common_code = a.state) state
		 	 , a.approvalYN approvalYN
		  FROM attendance a
	INNER JOIN emp e ON e.emp_no = a.emp_no
	INNER JOIN dept d ON d.dep_no = e.dep_no
	   <where>
			   start_time BETWEEN #{from} AND #{to}
			   <if test="deptNo != null">
			   	    AND d.dep_no = #{deptNo}		
			   </if>
			   <if test="empNo != null">
			    	AND a.emp_no = #{empNo} 
			   </if>
	  </where>
	</select>
	
	<!-- 휴가신청 리스트(월별) -->
	<select id="findtLeaveReqListByMonth" parameterType="com.haruon.groupware.attendance.dto.RequestAttendanceList" 
									    resultType="com.haruon.groupware.attendance.dto.ResponseLeaveList">
		 SELECT e.ename empName
			  , (SELECT descript FROM common_code WHERE common_code = e.location) role
			  , v.start_date startTime
			  , v.finish_date endTime
			  , (SELECT descript FROM common_code WHERE common_code = ap.state) approvalState
			  , dr.dra_no draNo
			  , (SELECT ename FROM emp WHERE emp_no = v.emp_no) substituteEmp
           FROM draft dr
          INNER JOIN vacation v ON dr.dra_no = v.dra_no
          INNER JOIN approval ap ON dr.dra_no = ap.dra_no
          INNER JOIN emp e ON dr.emp_no = e.emp_no
          INNER JOIN dept d ON e.dep_no = d.dep_no		
        <where>
          	 v.start_date BETWEEN #{from} AND #{to}
			 <if test="deptNo != null">
			    AND d.dep_no = #{deptNo}		
			 </if>
			 <if test="empNo != null">
			  	AND e.emp_no = #{empNo} 
			 </if>
        </where>							    
	</select>
	
	<!-- 연간 연차 정보 요약 -->
	<select id="findLeaveSumAndUsageRateList" parameterType="com.haruon.groupware.attendance.dto.RequestAttendanceList" 
									    resultType="com.haruon.groupware.attendance.dto.ResponseLeaveList">
		 SELECT emp_no empNo
			  , ename empName
			  , (SELECT descript FROM common_code WHERE common_code = location) role
			  , total_leave totalLeave
			  , used_leave usedLeave
			  , (YEAR(NOW()) - YEAR(join_date)) yearsOfService
			  , total_leave 
			  		- (case when((YEAR(NOW()) - YEAR(join_date)) &gt; 2) then (15 + (YEAR(NOW()) - YEAR(join_date) - 1) / 2) 
			  				when ((YEAR(NOW()) - YEAR(join_date)) &lt; 1) then truncate(15 * (12 - (MONTH(join_date)-1)) / 12, 0)
						ELSE 15 end) modifiedLeave
			  , (SELECT ((SUM(e2.used_leave) / SUM(e2.total_leave))* 100) 
			  	  FROM emp e2 
				  WHERE e2.emp_no = e1.emp_no) leaveUsageRate 
			  , join_date joinDate
		   FROM emp e1
		   <where>
		   		 <if test="deptNo != null">
				    dep_no = #{deptNo}		
				 </if>
				 <if test="empNo != null">
				  	emp_no = #{empNo} 
				 </if>
		   </where>
	</select>
	
	<!-- 연차 사용률 -->
	<select id="findLeaveUsageRateForYear" parameterType="com.haruon.groupware.attendance.dto.RequestAttendanceList" 
									    resultType="Double">
		SELECT (sum(used_leave) / sum(total_leave))* 100 rate FROM emp
		<if test="empNo != null || deptNo != null">
			<where>
				<if test="empNo != null">
					emp_no = #{empNo}
				</if>
				<if test="deptNo != null">
					dep_no = #{deptNo}
				</if>
			</where>
		</if>
	</select>
	
	<!-- 출장 리스트 -->
	<select id="findBusinessTripListByMonth" parameterType="com.haruon.groupware.attendance.dto.RequestAttendanceList" 
				resultType="com.haruon.groupware.attendance.dto.ResponseBusinessTripList">
		 SELECT e.ename empName
			  , (SELECT descript FROM common_code WHERE common_code = e.location) role
			  , bt.start_date startTime
			  , bt.finish_date endTime
			  , bt.place place
			  , (SELECT descript FROM common_code WHERE common_code = ap.state) approvalState
			  , dr.dra_no draNo
		   FROM draft dr
	 INNER JOIN business_trip bt ON dr.dra_no = bt.dra_no
	 INNER JOIN approval ap ON dr.dra_no = ap.dra_no
	 INNER JOIN emp e ON dr.emp_no = e.emp_no
	 INNER JOIN dept d ON e.dep_no = d.dep_no
		<where>
	        bt.start_date BETWEEN #{from} AND #{to}
			 <if test="deptNo != null">
		  	   	AND d.dep_no = #{deptNo}		
		 	</if>
		 	<if test="empNo != null">
		  		AND e.emp_no = #{empNo} 
		 	</if>
       </where>		
	</select>
	
	
</mapper>