<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.draft.mapper.DraftMapper">
	
	<!-- 유효성 검증 -->
	<select id="isAccess" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.response.ResponseAccessDraft">
		select d.emp_no empNo
			 , (select dep_no
			   from emp e
			   where e.emp_no = d.emp_no) depNo
			 , a.mid_app midApp
		     , a.final_app finalApp
		     , (select emp_no
		       from refer
		       where app_no = a.app_no) refNo
		  from draft d
		 inner join approval a
			   on d.dra_no = a.dra_no
		where d.dra_no = #{draNo}
	</select>
	<!-- 휴가보고서 상세보기 -->
	<select id="findByVacationDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.response.ResponseVacationDraftDetail">
		select 
			   d.dra_no draNo
			 , d.emp_no empNo
			 , a.app_no appNo
			 , d.kind type
			 , (select descript
			   from common_code
			   where common_code = d.kind)draftType
			 , de.emp_no drafterNo
			 , de.ename drafterName
			 , (select descript
			   from common_code
			   where common_code = de.location) location
			 , de.dep_no depNo
			 , dt.dname deptName
			 , a.mid_app midApp
			 , me.ename midAppName
			 , a.final_app finApp
			 , fe.ename finalAppName
			 , re.emp_no referEmpNo
			 , re.ename referName
			 , d.title title
			 , d.content content
			 , vc.emp_no subEmpNo
			 , sb.ename subEmpName
			 , sb.dep_no depNo
			 , (select dname
			   from dept
			   where dep_no = sb.dep_no) subEmpDept
			 , vc.kind kind
			 , vc.start_date vacStartDate
			 , vc.finish_date vacFinishDate
			 , (select descript
			   from common_code
			   where common_code = vc.kind) vacType
			 , vc.urgent_phone emergPhone
			 , date_format(d.create_date, '%Y년 %m월 %d일 %H시%i분') createDate
			 , a.mid_app_date midDate
			 , a.final_app_date finalDate
			 , a.state
			 , (select descript
			   from common_code
			   where common_code = a.state) approvalState
			 , case 
			   when a.state in('A02', 'A03')
			   then mf.file_name else null 
			   end midFilename
			 , case
			   when a.state in('A02', 'A03')
		       then mf.ext else null
		       end midFileExt
		     , case
			   when a.state = 'A03'
		       then ff.file_name else null
		       end finalFilename
		     , case
			   when a.state = 'A03'
		       then ff.ext else null
		       end finalFileExt
		     , a.reason_denial reasonDenial
		  from draft d
		 inner join emp de
			   on d.emp_no = de.emp_no
		 inner join dept dt
			   on de.dep_no = dt.dep_no
		 inner join approval a
			   on d.dra_no = a.dra_no
		 inner join vacation vc
			   on d.dra_no = vc.dra_no
		  left join refer r
			   on a.app_no = r.app_no
		  left join emp re
			   on r.emp_no = re.emp_no
		  left join emp me
			   on a.mid_app = me.emp_no
		  left join sign_file mf
			   on mf.emp_no = me.emp_no
		 inner join emp fe
			   on a.final_app = fe.emp_no
		 inner join emp sb
			   on vc.emp_no = sb.emp_no
		  left join sign_file ff
			   on ff.emp_no = fe.emp_no
		 where d.dra_no = #{draNo}
	</select>
	
	<!-- 매출보고서 상세보기 -->
	<select id="findBySalesDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.response.ResponseSalesDraftDetail">
		select 
			   d.dra_no draNo
			 , d.emp_no empNo
			 , a.app_no appNo
			 , d.kind type
			 , (select descript
			   from common_code
			   where common_code = d.kind)draftType
			 , de.emp_no drafterNo
			 , de.ename drafterName
			 , (select descript
			   from common_code
			   where common_code = de.location) location
			 , de.dep_no depNo
			 , dt.dname deptName
			 , a.mid_app midApp
			 , me.ename midAppName
			 , a.final_app finApp
			 , fe.ename finalAppName
			 , re.emp_no referEmpNo
			 , re.ename referName
			 , d.title title
			 , d.content content
			 , s.fra_no franchiseNo
			 , fc.fname franchiseName
			 , s.ym ym
			 , s.revenue revenue
			 , date_format(d.create_date, '%Y년 %m월 %d일 %H시%i분') createDate
			 , a.mid_app_date midDate
			 , a.final_app_date finalDate
			 , a.state
			 , (select descript
			   from common_code
			   where common_code = a.state) approvalState
			 , case
			   when a.state in ('A02','A03') 
			   then mf.file_name else null
		       end midFilename
		     , case
			   when a.state in ('A02','A03') 
			   then mf.ext else null
		       end midFileExt
		     , case
			   when a.state = 'A03' 
			   then ff.file_name else null
		       end finalFilename
		     , case
			   when a.state = 'A03' 
			   then ff.ext else null
		       end finalFileExt
		     , a.reason_denial reasonDenial 
		  from draft d
		 inner join emp de
			   on d.emp_no = de.emp_no
		 inner join dept dt
			   on de.dep_no = dt.dep_no
		 inner join approval a
			   on d.dra_no = a.dra_no
		 inner join sales s
			   on d.dra_no = s.dra_no
		 inner join franchise fc
			   on s.fra_no = fc.fra_no
		  left join refer r
			   on a.app_no = r.app_no
		  left join emp re
			   on r.emp_no = re.emp_no
		  left join emp me
			   on a.mid_app = me.emp_no
		  left join sign_file mf
			   on mf.emp_no = me.emp_no
		 inner join emp fe
			   on a.final_app = fe.emp_no
		  left join sign_file ff
			   on ff.emp_no = fe.emp_no
		where d.dra_no = #{draNo}
	</select>
	<!-- 출장결재 상세보기 -->
	<select id="findByBusinessDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.response.ResponseBusinessDraftDetail">
		select 
			   d.dra_no draNo
			 , d.emp_no empNo
			 , a.app_no appNo
			 , d.kind type
			 , (select descript
			   from common_code
			   where common_code = d.kind)draftType
			 , de.emp_no drafterNo
			 , de.ename drafterName
			 , (select descript
			   from common_code
			   where common_code = de.location) location
			 , de.dep_no depNo
			 , dt.dname deptName
			 , a.mid_app midApp
			 , me.ename midAppName
			 , a.final_app finApp
			 , fe.ename finalAppName
			 , re.emp_no referEmpNo
			 , re.ename referName
			 , d.title title
			 , d.content content
			 , bt.place place
			 , bt.start_date bizStartDate
			 , bt.finish_date bizFinishDate
			 , date_format(d.create_date, '%Y년 %m월 %d일 %H시%i분') createDate
		 	 , a.mid_app_date midDate
			 , a.final_app_date finalDate
			 , a.state
			 , (select descript
			   from common_code
			   where common_code = a.state) approvalState
			 , case 
			   when a.state in('A02', 'A03')
			   then mf.file_name else null 
			   end midFilename
			 , case
			   when a.state in('A02', 'A03')
		       then mf.ext else null
		       end midFileExt
		     , case
			   when a.state = 'A03'
		       then ff.file_name else null
		       end finalFilename
		     , case
			   when a.state = 'A03'
		       then ff.ext else null
		       end finalFileExt
		     , a.reason_denial reasonDenial  
		  from draft d
		 inner join emp de
			   on d.emp_no = de.emp_no
		 inner join dept dt
			   on de.dep_no = dt.dep_no
		 inner join approval a
			   on d.dra_no = a.dra_no
		 inner join business_trip bt
			   on d.dra_no = bt.dra_no
		  left join refer r
			   on a.app_no = r.app_no
		  left join emp re
			   on r.emp_no = re.emp_no
		  left join emp me
			   on a.mid_app = me.emp_no
		  left join sign_file mf
			   on me.emp_no = mf.emp_no
		 inner join emp fe
			   on a.final_app = fe.emp_no
		  left join sign_file ff
			   on fe.emp_no = ff.emp_no
		 where d.dra_no = #{draNo}
	</select>
	<!-- 기본결재 상세보기 -->
	<select id="findByBasicDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.response.ResponseBasicDraftDetail">
       select
			  d.dra_no draNo
			, d.emp_no empNo
			, a.app_no appNo
			, d.kind type
			, (select descript
			   from common_code
			   where common_code = d.kind)draftType
			, de.emp_no drafterNo
			, de.ename drafterName
			, (select descript
			   from common_code
			   where common_code = de.location) location
			, de.dep_no depNo
			, dt.dname deptName
			, a.mid_app midApp
			, me.ename midAppName
			, a.final_app finApp
			, fe.ename finalAppName
			, re.emp_no referEmpNo
			, re.ename referName
			, d.title title
			, d.content content
			, date_format(d.create_date, '%Y년 %m월 %d일 %H시%i분') createDate
			, a.mid_app_date midDate
			, a.final_app_date finalDate
			, a.state
			, (select descript
			  from common_code
			  where common_code = a.state) approvalState
			, case 
			  when a.state in('A02', 'A03') 
		      then mf.file_name else null
			  end midFilename
			, case 
			  when a.state in('A02', 'A03')
		      then mf.ext else null
			  end midFileExt
			, case 
			  when a.state = 'A03' 
		      then ff.file_name
			  end finalFilename
			, case 
			  when  a.state = 'A03' 
		      then ff.ext
			  end finalFileExt
			, a.reason_denial reasonDenial  
		 from draft d
		inner join emp de
			  on d.emp_no = de.emp_no
		inner join dept dt
			  on de.dep_no = dt.dep_no
		inner join approval a
			  on d.dra_no = a.dra_no
		 left join refer r
			  on a.app_no = r.app_no
		 left join emp re
			  on r.emp_no = re.emp_no
		 left join emp me
			  on a.mid_app = me.emp_no
		 left join sign_file mf
			  on me.emp_no = mf.emp_no
		inner join emp fe
			  on a.final_app = fe.emp_no
		left join sign_file ff
			  on fe.emp_no = ff.emp_no
		where d.dra_no = #{draNo}
	</select>
	<!-- 문서별 파일 리스트 -->
	<select id="findDraftByFile" parameterType="Integer" resultType="com.haruon.groupware.approval.entity.DraftFileEntity">
		select
			   draf_no drafNo
			 , dra_no draNo
			 , origin_name originName
			 , file_name fileName
			 , ext
			 , kind
			 , size
		  from draft_file
		 where dra_no = #{draNo}
	</select>
	
	<!-- 사원별 참조문서 리스트 -->
	<select id="findDraftByReferences" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.response.ResponseReferencesList">
		select 
  			   d.dra_no draNo
			 , d.kind type
			 , kc.descript draftType
			 , d.title title
			 , date_format(d.create_date, '%y년%c월%e일 %H시%i분') createDate
			 , sc.descript approvalState
		  from draft d	
		 inner join approval a
			   on d.dra_no = a.dra_no
		 inner join refer r
			   on a.app_no = r.app_no
	     inner join common_code kc
			   on d.kind = kc.common_code
		 inner join common_code sc
			   on a.state = sc.common_code
		 where r.emp_no = #{empNo}
		 <if test="search != null and search != ''">
		 	   and (d.title like concat ('%', #{search}, '%') 
		 	   or kc.descript like concat ('%', #{search}, '%') 
		 	   or sc.descript like concat ('%', #{search}, '%'))
		 </if>
		 order by d.dra_no desc
		 limit #{start} , #{length}
	</select>

	<!-- 검색된 참조자 결재문서 갯수 -->
	<select id="findSearchTotalReferences" resultType="Integer">
		select count(*)
		  from draft d	
		 inner join approval a
			   on d.dra_no = a.dra_no
		 inner join refer r
			   on a.app_no = r.app_no
	     inner join common_code kc
			   on d.kind = kc.common_code
		 inner join common_code sc
			   on a.state = sc.common_code
	     where r.emp_no = #{empNo}
	     <if test="search != null and search != ''">
		 	   and (d.title like concat ('%', #{search}, '%') 
		 	   or kc.descript like concat ('%', #{search}, '%') 
		 	   or sc.descript like concat ('%', #{search}, '%'))
		 </if>
	</select>
	<!-- 사원별 결재문서 리스트 -->
	<select id="findDraftByApproval" resultType="com.haruon.groupware.draft.dto.response.ResponseDraft">
		select 
			   d.dra_no draNo
			 , d.kind type
			 , kc.descript draftType
			 , d.title title
			 , date_format(d.create_date, '%y년%c월%e일 %H시%i분') createDate
			 , sc.descript approvalState
		  from draft d
		 inner join approval a
			   on d.dra_no = a.dra_no
		 inner join common_code kc
			   on d.kind = kc.common_code
		 inner join common_code sc
			   on a.state = sc.common_code
		 where a.mid_app = #{empNo}
			   or a.final_app = #{empNo}
		 <if test="search != null and search != ''">
		 	   and (d.title like concat ('%', #{search}, '%') 
		 	   or kc.descript like concat ('%', #{search}, '%') 
		 	   or sc.descript like concat ('%', #{search}, '%'))
		 </if>
		 order by d.dra_no desc
		 limit #{start} , #{length}
	</select>
	<!-- 사원별 검색된 결재문서 갯수 -->
	<select id="findSearchTotalApprovalByEmp" resultType="Integer">
		select count(*)
		  from draft d
		 inner join approval a
			   on d.dra_no = a.dra_no
	     inner join common_code kc
			   on d.kind = kc.common_code
	     inner join common_code sc
			   on a.state = sc.common_code
		 where a.mid_app = #{empNo}
			or a.final_app = #{empNo}
		  <if test="search != null and search != ''">
		 	   and (d.title like concat ('%', #{search}, '%') 
		 	   or kc.descript like concat ('%', #{search}, '%') 
		 	   or sc.descript like concat ('%', #{search}, '%'))
		 </if>
	</select>

	<!-- 사원별 기안문서 리스트 -->
	<select id="findDraftByEmp" resultType="com.haruon.groupware.draft.dto.response.ResponseDraft">
		select 
			   d.dra_no draNo
			 , d.kind type
			 , kc.descript draftType
			 , d.title title
			 , date_format(d.create_date, '%y년%c월%e일 %H시%i분') createDate
			 , sc.descript approvalState
		  from draft d
		 inner join approval a
			   on d.dra_no = a.dra_no
	     inner join common_code kc
			   on d.kind = kc.common_code
	     inner join common_code sc
			   on a.state = sc.common_code
		 where d.emp_no = #{empNo}
		 <if test="search != null and search != ''">
		  	   and (d.title like concat ('%', #{search}, '%') 
		 	   or kc.descript like concat ('%', #{search}, '%') 
		 	   or sc.descript like concat ('%', #{search}, '%'))
		 </if>
		 order by draNo desc
		 limit #{start} , #{length}
	</select>
	

	<!-- 검색된 기안문서 갯수 -->
	<select id="findSearchTotalDraftByEmp" resultType="Integer">
		select count(*)
		  from draft d
		 inner join approval a
			   on d.dra_no = a.dra_no
	     inner join common_code kc
			   on d.kind = kc.common_code
	     inner join common_code sc
			   on a.state = sc.common_code
		 where emp_no = #{empNo}
		 <if test="search != null and search != ''">
		  	   and (d.title like concat ('%', #{search}, '%') 
		 	   or kc.descript like concat ('%', #{search}, '%') 
		 	   or sc.descript like concat ('%', #{search}, '%'))
		 </if>
	</select>
</mapper>