<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.draft.mapper.DraftMapper">
	<!-- 휴가보고서 상세보기 -->
	<select id="findByVacationDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.ResponseVacationDraftDetail">
		select 
				d.dra_no draNo
			,	a.app_no appNo
			,	(select descript
				 from common_code
				 where common_code = d.kind)draftType
			,	de.emp_no drafterNo
			,	de.ename drafterName
			,	(select descript
				 from common_code
				 where common_code = de.location) location
			,	de.dep_no depNo
			,	dt.dname deptName
			,	a.mid_app midApp
			,	me.ename midAppName
			,	a.final_app finApp
			,	fe.ename finalAppName
			,	re.emp_no referEmpNo
			,	re.ename referName
			,	d.title title
			,	d.content content
			,	(select ename
				 from emp
				 where vc.emp_no = emp_no) subEmpName
			,	vc.start_date vacStartDate
			,	vc.finish_date vacFinishDate
			,	(select descript
				 from common_code
				 where common_code = vc.kind) vacType
			,	vc.urgent_phone emergPhone
			,	d.create_date createDate
			,	a.mid_app_date midDate
			,	a.final_app_date finalDate
			,	(select descript
				 from common_code
				 where common_code = a.state) approvalState
		from draft d
		inner join emp de
			on d.emp_no = de.emp_no
		inner join dept dt
			on de.dep_no = dt.dep_no
		inner join approval a
			on d.dra_no = a.dra_no
		inner join vacation vc
			on d.dra_no = vc.dra_no
		left join refer r
			on a.app_no = r.app_no
		left join emp re
			on r.emp_no = re.emp_no
		left join emp me
			on a.mid_app = me.emp_no
		left join emp fe
			on a.final_app = fe.emp_no
		where d.dra_no = #{draNo}
	</select>
	
	<!-- 매출보고서 상세보기 -->
	<select id="findBySalesDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.ResponseSalesDraftDetail">
		select 
				d.dra_no draNo
			,	a.app_no appNo
			,	(select descript
				 from common_code
				 where common_code = d.kind)draftType
			,	de.emp_no drafterNo
			,	de.ename drafterName
			,	(select descript
				 from common_code
				 where common_code = de.location) location
			,	de.dep_no depNo
			,	dt.dname deptName
			,	a.mid_app midApp
			,	me.ename midAppName
			,	a.final_app finApp
			,	fe.ename finalAppName
			,	re.emp_no referEmpNo
			,	re.ename referName
			,	d.title title
			,	d.content content
            ,	s.fra_no franchiseNo
            ,	fc.fname franchiseName
            ,	s.ym ym
            ,	s.revenue revenue
			,	d.create_date createDate
			,	a.mid_app_date midDate
			,	a.final_app_date finalDate
			,	(select descript
				 from common_code
				 where common_code = a.state) approvalState
		from draft d
		inner join emp de
			on d.emp_no = de.emp_no
		inner join dept dt
			on de.dep_no = dt.dep_no
		inner join approval a
			on d.dra_no = a.dra_no
		inner join sales s
			on d.dra_no = s.dra_no
		inner join franchise fc
			on s.fra_no = fc.fra_no
		left join refer r
			on a.app_no = r.app_no
		left join emp re
			on r.emp_no = re.emp_no
		left join emp me
			on a.mid_app = me.emp_no
		left join emp fe
			on a.final_app = fe.emp_no
		where d.dra_no = #{draNo}
	</select>
	<!-- 출장결재 상세보기 -->
	<select id="findByBusinessDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.ResponseBusinessDraftDetail">
		select 
				d.dra_no draNo
			,	a.app_no appNo
			,	(select descript
				 from common_code
				 where common_code = d.kind)draftType
			,	de.emp_no drafterNo
			,	de.ename drafterName
			,	(select descript
				 from common_code
				 where common_code = de.location) location
			,	de.dep_no depNo
			,	dt.dname deptName
			,	a.mid_app midApp
			,	me.ename midAppName
			,	a.final_app finApp
			,	fe.ename finalAppName
			,	re.emp_no referEmpNo
			,	re.ename referName
			,	d.title title
			,	d.content content
            ,	bt.place place
            , 	bt.start_date bizStartDate
            ,	bt.finish_date bizFinishDate
			,	d.create_date createDate
			,	a.mid_app_date midDate
			,	a.final_app_date finalDate
			,	(select descript
				 from common_code
				 where common_code = a.state) approvalState
		from draft d
		inner join emp de
			on d.emp_no = de.emp_no
		inner join dept dt
			on de.dep_no = dt.dep_no
		inner join approval a
			on d.dra_no = a.dra_no
		inner join business_trip bt
			on d.dra_no = bt.dra_no
		left join refer r
			on a.app_no = r.app_no
		left join emp re
			on r.emp_no = re.emp_no
		left join emp me
			on a.mid_app = me.emp_no
		left join emp fe
			on a.final_app = fe.emp_no
		where d.dra_no = #{draNo}
	</select>
	<!-- 기본결재 상세보기 -->
	<select id="findByBasicDraftNo" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.ResponseBasicDraftDetail">
		select 
			d.dra_no draNo
		,	a.app_no appNo
		,	(select descript
			 from common_code
			 where common_code = d.kind)draftType
		,	de.emp_no drafterNo
		,	de.ename drafterName
		,	(select descript
			 from common_code
			 where common_code = de.location) location
		,	de.dep_no depNo
		,	dt.dname deptName
		,	a.mid_app midApp
		,	me.ename midAppName
		,	a.final_app finApp
		,	fe.ename finalAppName
		,	re.emp_no referEmpNo
		,	re.ename referName
		,	d.title title
		,	d.content content
		,	d.create_date createDate
		,	a.mid_app_date midDate
		,	a.final_app_date finalDate
		,	(select descript
			 from common_code
			 where common_code = a.state) approvalState
		from draft d
		inner join emp de
			on d.emp_no = de.emp_no
		inner join dept dt
			on de.dep_no = dt.dep_no
		inner join approval a
			on d.dra_no = a.dra_no
		left join refer r
			on a.app_no = r.app_no
		left join emp re
			on r.emp_no = re.emp_no
		left join emp me
			on a.mid_app = me.emp_no
		left join emp fe
			on a.final_app = fe.emp_no
		where d.dra_no = #{draNo}
	</select>
	<!-- 문서별 파일 리스트 -->
	<select id="findDraftByFile" parameterType="Integer" resultType="com.haruon.groupware.approval.entity.DraftFileEntity">
		select
				draf_no drafNo
			,	dra_no draNo
			,	origin_name originName
			,	file_name fileName
			,	ext
			,	kind
			,	size
		from draft_file
		where dra_no = #{draNo}
	</select>
	<!-- 사원별 결재문서 리스트 -->
	<select id="findDraftByApproval" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.ResponseDraft">
		select 
				d.dra_no draNo
			,	d.kind kind
			,	kc.descript draftType
			,	d.title title
			,	d.content content
			,	d.create_date createDate
			,	sc.descript approvalState
		from draft d
		inner join approval a
			on d.dra_no = a.dra_no
		inner join common_code kc
			on d.kind = kc.common_code
		inner join common_code sc
			on a.state = sc.common_code
		where a.mid_app = #{empNo}
			or a.final_app = #{empNo}
	</select>
	
	<!-- 사원별 기안문서 리스트 -->
	<select id="findDraftByEmp" parameterType="Integer" resultType="com.haruon.groupware.draft.dto.ResponseDraft">
		select 
				d.dra_no draNo
			,	d.kind kind
			,	kc.descript draftType
		    ,	d.title title
		    ,	d.content content
		    ,	d.create_date createDate
		    ,	sc.descript approvalState
		from draft d
		inner join approval a
			on d.dra_no = a.dra_no
		inner join common_code kc
			on d.kind = kc.common_code
		inner join common_code sc
			on a.state = sc.common_code
		where d.emp_no = #{empNo}
	</select>
	
</mapper>