<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haruon.groupware.draft.mapper.UpdateMapper">
<!-- 휴가 문서 업데이트  -->
<update id="updateVacationDraft" parameterType="com.haruon.groupware.draft.dto.request.RequestUpdateVacationDraft">
	update
		vacation v
	inner join draft d
		on v.dra_no = d.dra_no
	<set>
		<if test="subEmpNumber != null">
			v.emp_no = #{subEmpNumber},
		</if>
		<if test="startDate != null">
			v.start_date = #{startDate},
		</if>
		<if test="finishDate != null">
			v.finish_date = #{finishDate},
		</if>
		<if test="finishDate != null">
			v.kind = #{kind},
		</if>
		<if test="urgentPhone != null">
			v.urgent_phone = #{urgentPhone},
		</if>
		<if test="title != null">
            d.title = #{title},
        </if>
        <if test="textContent != null">
            d.content = #{textContent},
        </if>
	</set>
</update>
<!-- 매출 보고서 업데이트 -->
<update id="updateSalesDraft" parameterType="com.haruon.groupware.draft.dto.request.RequestUpdateSalesDraft">
	update 
		sales s
	inner join draft d
		on s.dra_no = d.dra_no
	<set>
		<if test="fraNo != null">
			s.fra_no = #{fraNo},
		</if>
		<if test="ym != null">
			s.ym = #{ym},
		</if>
		<if test="revenue != null">
			s.revenue = #{revenue},
		</if>
		<if test="title != null">
            d.title = #{title},
        </if>
        <if test="textContent != null">
            d.content = #{textContent},
        </if>
	</set>

</update>
<!-- 출장 문서 업데이트 -->
<update id="updateBusinessDraft" parameterType="com.haruon.groupware.draft.dto.request.RequestUpdateBusinessDraft">
   update 
   		business_trip b
   inner join draft d
   		on b.dra_no = d.dra_no
   <set>
   		<if test="place != null">
            b.place = #{place},
        </if>
        <if test="startDate != null">
            b.start_date = #{startDate},
        </if>
        <if test="finishDate != null">
            b.finish_date = #{finishDate},
        </if>
        <if test="title != null">
            d.title = #{title},
        </if>
        <if test="textContent != null">
            d.content = #{textContent},
        </if>
   </set>
   where b.dra_no = #{draNo};
</update>

<!-- 기본 문서 업데이트 -->
<update id="updateBasicDraft" parameterType="com.haruon.groupware.draft.dto.request.RequestUpdateBasicDraft">
	update draft
	<set>
		<if test="title != null">
			title = #{title},
		</if>
		<if test="textContent != null">
			content = #{textContent},
		</if>
	</set>
	where dra_no = #{draNo}
</update>
</mapper>